button.small {
    padding: 0.9rem 1.4rem;
    height: 1rem;
}

#root {
    padding: 0;
}

.toolbar-small {
    padding: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #dee2e6
}

.topbar {
    /* position: fixed;
    left: 0;
    top: 0;
    */
    z-index: 997;
    height: 5rem;
    width: 100%;
    padding: 0 2rem;
    background-color: #f8f9fa;
    transition: left .2s;
    display: flex;
    align-items: center;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, .02), 0 0 2px rgba(0, 0, 0, .05), 0 1px 4px rgba(0, 0, 0, .08); */
    text-align: center;
}

.toolbar-borderless {
    border: none;
}

.formgroup-inline {
    display: flex;
    justify-content: space-between; /* Verteilt die 3 inneren Divs */
    align-items: center; /* Zentriert vertikal */
    gap: 10px; /* Optionaler Abstand zwischen den Feldern */
}

.formgroup-inline .field {
    margin-left: 0;
    margin-right: 0;
}

.field {
    flex: 1; /* Jeder Field-Div bekommt den gleichen Platz */
}

.field input {
    width: 100%; /* Das Input-Element füllt den gesamten Platz im Field */
}

.input-number-right > input {
    text-align: right;
}

.topbar-link-button {
    text-decoration: none;
    padding: 0.6rem;
}


/* Größerer Slider-Handle */
.p-slider .p-slider-handle {
    transform: scale(1.25);
}


.p-button.no-hover:hover {
    background-color: inherit; /* Verhindert das Ändern der Hintergrundfarbe beim Hover */
    box-shadow: none; /* Entfernt den Hover-Schatten */
}


/* Tabelle Zeilenhöhe verringern */
.p-datatable tbody td {
    padding: 0.8rem 0.4rem;
}

.column-no-overflow {
    overflow: hidden;
    text-overflow: ellipsis; /* um abgeschnittenen Text mit "..." darzustellen */
    white-space: nowrap;
    word-break: break-all;
}